USE [master]
GO
/****** Object:  Database [TP4_RAFFI_KOCAK]    Script Date: 20/6/2022 00:43:51 ******/
CREATE DATABASE [TP4_RAFFI_KOCAK]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP4_RAFFI_KOCAK', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TP4_RAFFI_KOCAK.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP4_RAFFI_KOCAK_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TP4_RAFFI_KOCAK_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP4_RAFFI_KOCAK].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP4_RAFFI_KOCAK]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 20/6/2022 00:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TipoProducto] [int] NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Precio] [float] NOT NULL,
	[Cantidad] [int] NOT NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 20/6/2022 00:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaVenta] [datetime] NOT NULL,
	[Precio] [float] NOT NULL,
	[ProductosVendidos] [varchar](1000) NOT NULL,
 CONSTRAINT [PK_Ventas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([Id], [TipoProducto], [Descripcion], [Precio], [Cantidad]) VALUES (1, 0, N'Alfajor Capitan Del Espacio 40g', 100, 48)
INSERT [dbo].[Productos] ([Id], [TipoProducto], [Descripcion], [Precio], [Cantidad]) VALUES (2, 0, N'Alfajor Jorgito 55g', 120, 49)
INSERT [dbo].[Productos] ([Id], [TipoProducto], [Descripcion], [Precio], [Cantidad]) VALUES (3, 0, N'Alfajorcitos x6 Jorgito 155g', 200, 49)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Ventas] ON 

INSERT [dbo].[Ventas] ([Id], [FechaVenta], [Precio], [ProductosVendidos]) VALUES (1, CAST(N'2022-06-20T00:42:20.080' AS DateTime), 700, N'Alfajor Capitan Del Espacio 40g x 1
Alfajorcitos x6 Jorgito 155g x 1
Agua KIN 500ml x 1
Coca-Cola 500ml x 1
Preservativos PRIME x6 - Version Star Wars x 1
')
SET IDENTITY_INSERT [dbo].[Ventas] OFF
GO
USE [master]
GO
